/* Defining color variables */
:root {
  /* colors */
  --primary-01: #5927E5;
  --primary-02: #8059EB;
  --primary-03: #A489F1;
  --primary-04: #C7B6F6;
  --primary-05: #EAE4FC;
  --complimentary-01: #FDE7FC;
  --complimentary-02: #FDECFD;
  --complimentary-03: #FEF1FD;
  --complimentary-04: #FEF6FE;
  --complimentary-05: #FFFAFE;
  --accent-01: #241D30;
  --accent-02: #544370;
  --accent-03: #856FA9;
  --accent-04: #BBAFCF;
  --accent-05: #F1EFF5;
  /* Text Styles */
  /* Headings */
  --heading-font-family: 'Alegreya Sans', sans-serif;
  --paragraph-font-family: 'Alegreya', serif;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*to exclude content box width/height in total width/height*/
}

/* Website Body Styles */

body {
  background-color: var(--complimentary-05);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

/* The Website Container styless */
.wrapper {
  min-width: 1440px;
  /* height: 790px; */
}

/* Navigation styles */

nav {
  display: flex;
  margin-top: 2.5rem;
  margin-left: 5.875rem;
  margin-right: 1.938rem;
  justify-content: space-between;
  color: var(--primary-01);
  font-family: var(--heading-font-family);
  font-size: 1.728rem;
  font-weight: 700;
}

.logo img {
  width: 12.25rem;
  height: 2.813rem;
}

.searchBar {
  width: 17.5rem;
  height: 2.513rem;
  background-color: var(--complimentary-01);
  border-radius:0.938rem;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.searchBar input[type="text"]{
  flex: 1;
  width: 7.5rem;
  height: 2.813em;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius:0.938rem;
}

.searchBar button {
  width: 2.228rem;
  height: 2.238rem;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.searchBar img {
  width: 1.328rem;
  height: 1.338rem;
}

.nav-items ul{
  display: flex;
}

.nav-items ul li{
  list-style: none;
  margin-right: 45px;
}

.nav-items ul li a{
  text-decoration: none;
  color: var(--primary-01);
}

.nav-items ul li a:hover{
  text-decoration: none;
  color: var(--primary-03);
}

.nav-items ul li a:active{
  text-decoration: none;
  color: var(--primary-05);
}

.cart-ammount {
  background-color: var(--primary-01);
  color: var(--complimentary-01);
  padding: 0.7rem;
  position:  absolute;
  top:-3.3rem;
  right: 1rem;
}


/* Hero Section */
.hero, .new-release {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-left: 5.875rem;
  margin-right: 4.25rem;
}
.new-release {
  margin-right: 18.25rem;
  margin-bottom: 4rem;
}
.hero-left {
  margin-top: 4em;
}

.hero-left h1 {
  color: var(--primary-01);
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 2.986rem;
  line-height: 4rem;
}

.hero-left p {
  color: var(--primary-03);
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 2.074rem;
  line-height: 3rem;
}

.btn {
  margin-top: 1.563rem;
}

.btn a {
  background-color: var(--primary-01);
  color: var(--complimentary-01);
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 1.440rem;
  line-height: 2rem;
  text-decoration: none;
  padding: 0.75rem 2rem;
  border-radius: 0.76em;
  transition: all 0.2s ease-in-out;
}

.btn a:hover {
  color: var(--primary-01);
  background-color: var(--complimentary-01);
}

.btn a:active {
  color: var(--accent-01);
  background-color: var(--primary-05);
}

.hero-right {
  margin-right: 5.063rem;
  display: grid;
  grid-template-columns: 15rem 13rem;
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
}

.img01 img, .img02 img {
  width: 265px;
}

.offer-circle {
  margin-top: 5.625rem;
  margin-left: 1.875rem;
  /* border: 2px solid blue; */
  height:8.688rem;
  width:8.688rem;
  border-radius: 50%;
  background-color:var(--complimentary-01);
  color: var(--primary-02);
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size:1.728rem;
  padding: 1.875rem 2.688rem;
}
.offer p {
  line-height: 2.5rem;
}

.community h6 {
  font-family: var(--heading-font-family);
  font-size: 1.200rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--accent-01);
}
.community .members {
  display: flex;
  flex-direction: row;
  margin-top: 0.938rem;
}
.community p, .myProfile label {
  font-family: var(--paragraph-font-family);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}

.cover h3 {
  font-family: var(--heading-font-family);
  font-size: 2.063rem;
  font-weight: 700;
  color: var(--primary-01);
  margin-bottom: 2rem;
}
.bookinfo {
  margin-top: 4.175rem;
  margin-left: 6rem;
}

.bookinfo h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--primary-01);
}
.bookinfo h3 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 2.063rem;
  line-height: 3rem;
  color: var(--primary-02);
}

.bookinfo p{
  font-family: var(--paragraph-font-family);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--primary-03);
}

.cta {
  display: flex;
  flex-direction: row;
}
.cta .btn {
  margin-right: 1rem;
}

.btn2 a {
  background-color: var(--complimentary-01);
  color: var(--primary-01);
}
.btn2 a:hover {
  background-color: var(--accent-05);
  color: var(--primary-01);
}


/* ----------------------------------------------------------------------- */
/* Signup/Login Page Styles */

.form{
  height: 490px;
  width: 620px;
  /* text-align: center; */
  background-color: var(--complimentary-01);
  border-radius: 30px;
  padding-top: 40px;
}
.myprof {
  height: 550px;
}
.signup, .login, .myProfile {
  margin-left: 68px; 
}

.signup input, .login input, .myProfile input {
  background: var(--complimentary-04);
  border: 0;
  border-radius: 8px;
  height: 32px;
  width: 345px;
  font-size: 14px;
  padding: 8px;
  outline: none;
  margin-right: 1rem;
}
.signup input:focus, .login input:focus, .myProfile input:focus {
  border: 1px solid var(--primary-01);
}
::-webkit-input-placeholder{
  color: var(--accent-03);
  font-family: var(--paragraph-font-family);
  font-weight: 500;
}

.signup button, .login button, .myProfile button {
  background: var(--primary-01);
  color: var(--complimentary-01);
  border-radius: 5px;
  padding: 5px;
  /* display: block; */
  /* margin-left: 222px; */
  width: 200px;
  height: 40px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}
.signup button:hover, .login button:hover, .myProfile button:hover {
  background-color: var(--complimentary-01);
  color: var(--primary-01);
}
.signup button:active, .login button:active, .myProfile button:active {
  transform: scale(0.98);
}
.signup .linkText, .login .linkText {
  font-family: var(--paragraph-font-family);
  font-size: 1.313rem;
  line-height: 1.938rem;
  font-weight: 500;
  margin-top: 0.71rem;
}
.linkText a {
  color: var(--primary-01);
  text-decoration: none;
  cursor: pointer;
}
.linkText a:hover {
  text-decoration: underline;
}
.form-hidden {
  display:none;
}
.form span{
  font-family: var(--paragraph-font-family);
  font-size: 0.694rem;
  line-height: 1em;
  color: var(--primary-01);
}

.popup {
  background-color: #fff;
  border-radius: 1.1rem;
  height: 11rem;
  width: 30rem;
  position: absolute;
  top: 0;
  left: 30%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  margin-top: 2rem;
  visibility:hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup {
  visibility: visible;
  top:50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup h1{
  margin-top: 1rem;
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 2.074rem;
  line-height: 3rem;
  color: var(--accent-01);
}
.popup p{
  font-family: var(--paragraph-font-family);
  font-weight: 400;
  font-size: 1.200rem;
  line-height: 2rem;
  color: var(--accent-01);
}


/* ----------------------------------------------------------------------- */


/* Item Information Page Styles */

/* Hero Section */

.banner img {
  width: 81.25rem;
  height: 24.625rem;
  /* margin: 3.5rem auto; */
  margin-top: 3.5rem;
  margin-left: 6.25rem;
}

.banner h1 {
  color: var(--complimentary-01);
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 2.986rem;
  line-height: 4rem;
  position: absolute;
  top: 19.375rem;
  left: 28.125rem;
}

.catalogue {
  text-align: center;
}

.catalogue h1 {
  color: var(--primary-01);
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 2.986rem;
  line-height: 4rem;
}

.divider {
  border: 2px solid var(--primary-03);
  width: 167px;
  margin: 10px auto;
}

.catalogue {
  /* border: 2px solid red; */
  width: 81.25rem;
  margin-left: 6.25rem;
  margin-top: 2rem;
}

.catalogue-grid{
  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.griditems {
  font-family: var(--paragraph-font-family);
  font-size: 0.833rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--primary-01);
}
.authorInfo {
  display: flex;
  justify-content: space-between;
  margin: 0rem 5.36rem;
}

.price {
  font-size: 2.074rem;
}

.griditems img {
  transition: all 0.2s ease-in-out;
  filter: brightness(100%);
}

.griditems img:hover{
  transform: scale(1.1);
  filter: brightness(80%);
}

/* .book-info-popup {
  background-color: #fff;
  border-radius: 1.1rem;
  height: 11rem;
  width: 30rem;
  position: absolute;
  top: 0;
  left: 30%;
} */

/* .proceed, .subtotal {
  margin-left: 26rem;
}
.proceed {
  margin-top: 0.9rem;
}
.subtotal {
  margin-top: 2rem;
}

.proceed a {
  padding: 0.55rem 14rem;
}
.cart-item {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  background: var(--complimentary-01);
  height: 15rem;
} */
/* .cart-item h1, .cart-item p, .cart, .subtotal{
  font-family: var(--paragraph-font-family);
  font-weight: 500px;
  font-size: 1.440rem;
  line-height: 2rem;
  color: var(--primary-01);
} */

/* .cart-item .authorInfo {
  margin-left: 0;
}

.cart-item .price p {
  font-size: 2.499rem;
}

.item-cover {
  margin-top: 1rem;
}
.item-info {
  margin-left: 1.440rem;
  margin-top: 3rem;
}

.ui-btns {
  display: flex;
  gap:0.5rem;
  align-items: center; 
  font-size: 1rem;
  color: var(--primary-01);
  font-weight: 700;
} */

.cart-header {
  font-weight: bold;
  font-size: 1.25rem;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2rem;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2rem;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  padding: 0.4rem;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 54px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75rem;
}
.btn-primary {
  color: white;
  background-color: var(--primary-01);
  border: none;
  border-radius: .3em;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--accent-01);
}
.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: var(--paragraph-font-family);
  font-weight: 400;
  text-align: center;
  font-size: 2.4rem;
  margin-top: 5rem;
}

.myPay{
  height: 660px;
}