/* Defining color variables */
:root {
  --webite-bg: #bdc6ff;
  --navtext: #1a274a;
  --marketingMsg: #000000;
  --webcopy: #39518f;
  --buttonText: #bdc6ff;
  --button-bg: #6791ff;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*to exclude content box width/height in total width/height*/
}

/* Website Body Styles */

body {
  background-color: var(--webite-bg);
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

/* The Website Container styless */
.wrapper {
  min-width: 1440px;
  height: 790px;
  /* border: 2px solid red; */
}

/* Nav and Logo styles */

nav {
  display: flex;
  /* border: 2px solid white; */
  margin-top: 30px;
  margin-left: 120px;
  margin-right: 122px;
  justify-content: space-between;
  color: var(--navtext);
  font-size: 0.7em;
  font-weight: 700;
}

.nav-items ul{
  display: flex;
}

.nav-items ul li{
  list-style: none;
  margin-right: 45px;
}

.nav-items ul li a{
  text-decoration: none;
  color: var(--navtext);
}

.nav-items ul li a:hover{
  text-decoration: none;
  color: white;
}

.nav-items ul li a:active{
  text-decoration: none;
  color: white;
}

.profile-img {
  border-radius: 50%;
  height: 51px;
  width: 51px;
  background-color: #C4C4C4;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 122px;
}

.hero-left {
  margin-top: 4em;
}
.hero-left h1 {
  color: var(--marketingMsg);
  font-size: 1.5em;
  /* line-height: 1.2em; */
}

.hero-left p {
  color: var(--webcopy);
  font-size: 1em;
  line-height: 1.1em;
  margin-top: 20px;
}

.btn {
  margin-top: 30px;
}
.btn a {
  color: var(--buttonText);
  font-size: 0.8em;
  background-color: var(--button-bg);
  text-decoration: none;
  padding: 0.48em;
  border-radius: 0.76em;
  transition: all 0.3s ease-in-out;
}

.btn a:hover {
  color: var(--button-bg);
  background-color: #ffffff;
}
.hero-right {
  margin-right: 1em;
}

footer {
  background-color:#AAB2E5;
  padding: 25px;
  width: 1195px;
  margin: 0 auto;
  border-radius: 20px;
}

footer p {
  color: #111a31;
  font-size: 0.9em;
}

/* Item Information Page Styles */

/* Hero Section */
.product {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 120px;
  margin-right: 222px;
}

.product-left {
  margin-right: 2em;
}

.product-right {
  /* display: flex; */
}
.btn{
  margin-left: 70px;
}


.product-right h1 {
  color: var(--marketingMsg);
  font-size: 1.5em;
  /* line-height: 1.2em; */
}

.product-right p {
  color: var(--webcopy);
  font-size: 0.6em;
  line-height: 1.1em;
  margin-top: 20px;
}

.product-right .btn {
  margin-top: 30px;
  width: 4em;
}

.btn a {
  color: var(--buttonText);
  font-size: 0.8em;
  background-color: var(--button-bg);
  text-decoration: none;
  padding: 0.38em;
  border-radius: 0.66em;
  transition: all 0.3s ease-in-out;
}

.btn a:hover {
  color: var(--button-bg);
  background-color: #ffffff;
}

.prodInfo {
  display: flex;
  flex-direction: column;
}

.prodInfo p {
  font-size: 20px;
  font-weight: normal;
}

.author {
  display: flex;
  flex-direction: row;
}

.author p {
  margin-right: 50px;
}